{% extends 'core/core.html' %}
{% load static %}

{% block top %}<h2 class="text-center alert alert-danger">CRUD - AJAX</h2>{% endblock top %}

{% block content %}
    <div class="row">
        <div class="col-sm-3"> <br>
            <h4 class="text-center alert alert-info">Add</h4>
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                <input type="hidden" name="stu" id="stuid">
                {{form.as_p}}
                <button type="button" id="btnsubmit" class="btn btn-success">Submit</button>
                <a href="/" class="btn btn-warning">Home</a>
            </form>
            
        </div>
        <div class="col-sm-9"> <br>
            <h4 class="text-center alert alert-info">Users</h4>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Action</th>

                  </tr>
                </thead>
                
                <tbody id="tbody"> 
                {% for student in students %}
                  <tr>
                    <th>{{student.id}}</th>
                    <td>{{student.name}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.password}}</td>
                    <td><button type="button" data-sid="{{student.id}}" class="btn btn-warning btn-sm btn-edit">Edit</button></td>
                    <td><button type="button" data-sid="{{student.id}}" class="btn btn-danger btn-sm btn-del">Delete</button></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
        
    </div>
    
{% endblock content %}

{% block script %}
  <script type="text/javascript" src="{% static 'crud/js/crud_ajax.js' %}"></script>
{% endblock script %}