{% extends 'core/core.html' %}
{% load static %}

<!-- Style -->
{% block style %}
<link href="{% static 'signup_user/css/style.css' %}" rel="stylesheet">
{% endblock style %}

<!-- Tytle -->
{% block title %}
<title>Login</title>
{% endblock title %}

{% block content %}
<form action="" method="POST" novalidate>
    {% csrf_token %}

	<!-- Form -->
	<div class="form-box">
		<div class="header-text">
			{{name}} Change Your Password
		</div>

		<!-- non field error -->
		{% if form.non_field_errors %}
			{% for error in form.non_field_errors %}
			{{ error }} <br>
			{% endfor %}
		{% endif %}

		{% for field in form %}
        	{{ field.errors }}
        	{{ field }} <br> <br>
    	{% endfor %}
    	<button type="submit">Change</button>
		<a href="{% url 'index' %}" class="btn btn-outline-warning">Home</a>
	</div>
</form>

{% endblock content %}
