<!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>{{ contact.text }}</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>{{about.address}}</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>{{about.email}}</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+880{{about.phone}}</p>
              </div>


              <iframe src="{{ contact.location }}" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>
          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="" method="POST" class="php-email-form">
              {% csrf_token %}
                <div class="row">
                  <div class="form-group col-md-6">
                    {{form.name.label_tag}}
                    {{form.name}}
                  </div>
                  <div class="form-group col-md-6">
                    {{form.email.label_tag}}
                    {{form.email}}
                  </div>
                </div>
                <div class="form-group">
                  {{form.sub.label_tag}}
                  {{form.sub}}
                </div>
                <div class="form-group">
                  {{form.message.label_tag}}
                  {{form.message}}
                </div>
              <div class="text-center">
                <button type="submit">Send Message</button>
              </div>
              
            </form>
          </div>

          
          

          <!-- <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form id="myform" method="POST" role="form" class="php-email-form" novalidate>
              {% csrf_token %}
              <div class="row">
                <div class="form-group col-md-6">
                  {{form.name.label_tag}}
                  {{form.name}}
                </div>
                <div class="form-group col-md-6">
                  {{form.email.label_tag}}
                  {{form.email}}
                </div>
              </div>
              <div class="form-group">
                {{form.sub.label_tag}}
                {{form.sub}}
              </div>
              <div class="form-group">
                {{form.message.label_tag}}
                {{form.message}}
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message d-block"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div> -->

        </div>

        

      </div>
    </section><!-- End Contact Section -->