{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{home.name}}-Resume</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <div> <!-- Vendor Css Files -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


  <!-- AOS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <!-- Swipper  -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">
  </div>

  <!-- =======================================================
  * Template Name: iPortfolio - v3.3.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <div><!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{{ home.profile_img.url }}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="#">{{home.name}}</a></h1>
        <div class="social-links mt-3 text-center">
          {% for lnk in link %}
            <a href="{{ lnk.link }}" target="_blank" class=""><i class="{{ lnk.name }}"></i></a>
          {% endfor %}

        </div>
      </div>
<p></p>
      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
          <li><a href="{% static 'assets/img/sajjadul_islam.jpg' %}" download class="nav-link scrollto"><i class="bx bx-download"></i> <span>Download</span></a></li>
          <li><a href="{% url 'education:index' %}" class="nav-link scrollto"><i class="bx bx-book"></i> <span>Education</span></a></li>
          {% if user.is_authenticated == False %}
            <li><a href="{% url 'enroll:login_user' %}" class="nav-link scrollto"><i class="bx bxs-paper-plane"></i> <span>Login</span></a></li>
          {% endif %}
          
          {% if user.is_authenticated %}
            <li><a href="{% url 'enroll:profile' %}" class="nav-link scrollto"><i class="bx bxs-meh"></i> <span>Your Profile</span></a></li>
            <li><a href="{% url 'enroll:logout' %}" class="nav-link scrollto"><i class="bx bxs-share"></i> <span>Logout {{name}}</span></a></li>
          {% endif %}
          
          
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1 style="color: rgb(3, 250, 135);">{{home.name}}</h1>
      <p style="color: rgb(3, 250, 135);">I'm <span class="typed" data-typed-items="{{home.changing_text}}"></span></p>
    </div>
  </section><!-- End Hero -->
  </div>

  <main id="main">

    {% include 'index/about.html' %}

    {% comment %} {% include 'index/facts.html' %} {% endcomment %}

    {% include 'index/skils.html' %}

    {% include 'index/resume.html' %}

    {% include 'index/portfolio.html' %}

    {% include 'index/services.html' %}

    {% comment %} {% include 'index/testimonials.html' %} {% endcomment %}

    {% include 'index/contact.html' %}

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        <!-- &copy; Copyright <strong><span>iPortfolio</span></strong> -->
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div> <!-- Vendor JS Files -->
  <!-- AOS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Bootstrap -->
  {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script> {% endcomment %}

  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>

  <!-- Swipper  -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <script src="{% static 'assets/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  </div>

</body>

</html>