<!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>{{ p_folio_t.text|safe }}</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Game</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
          {% for p in p_folio %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-{{ p.category }}">
            <div class="portfolio-wrap">
              <img src="{{ p.image.url }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{{ p.image.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="{{ p.urlname }}" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Portfolio Section -->