{% extends 'education/base.html' %}
{% load static %}
{% load social_share %}

{% block link %}<link rel="stylesheet" href="{% static 'education/css/style.css' %}">  {% endblock link %}

{% block body %}
    <body id="top" class="page-2">

        <div class="tm-navbar-container tm-navbar-container-dark">
       
            <nav class="navbar navbar-full navbar-fixed-top bg-inverse">
                <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#tmNavbar">
                    &#9776;
                </button>
                <div class="collapse navbar-toggleable-sm" id="tmNavbar">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a href="{% url 'education:index' %}" class="nav-link external">Home</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="terb">
            {% post_to_facebook object_or_url " " "fa fa-facebook" %}
    
            {% post_to_twitter "{{sub_data.small_disc|safe}}" object_or_url " " "fa fa-twitter" %}

            {% post_to_linkedin object_or_url "fab fa-linkedin-in" %}

            {% post_to_whatsapp object_or_url " " "fa fa-whatsapp" %}

            {% post_to_telegram "{{sub_data.small_disc|safe}}" object_or_url " " "fa fa-paper-plane" %}
        </div>

    
        <div class="container-fluid">

            <div class="row">
              <div id="tm-section-1" class="tm-section">
                <div class="col-md-12">
                    <h1 class="text-xs-center blue-text tm-page-2-title">{{sub_data.title}}</h1>
                    <p class="text-xs-center tm-page-2-p tm-page-2-subtitle">{{sub_data.small_disc|safe}}</p>
                    <img src="{{sub_data.image_URL.url}}" class="img-fluid tm-banner-img" alt="Image">            
                </div>
              </div>                
            </div>
            
            <div class="row">
                <div class="tm-section" id="tm-section-2">
                    <div class="col-md-12">
                        <p class="text-left tm-description">{{sub_data.disc|safe}}</p>
                        
                        <div class="tm-flex-center">
                          <a href="{% url 'education:index' %}" class="btn btn-default btn-lg tm-gray-btn">Home</a>
                          
                        </div>
                    </div>
                </div>
            </div>


            
            <br><br>
      
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <p class="text-xs-center tm-footer-text">Copyright &copy; 2016 Company Name</p>
                </div>
            </div>
        </div>
    </body>
{% endblock body %}
