{% extends 'core/core.html' %}
{% load static %}

{% block top %}<h2 class="text-center alert alert-danger">Todo app</h2>{% endblock top %}

{% block content %}

<form action="{% url 'details' data.id %}" method="POST" novalidate>
{% for field in form %}
    <div class="fieldWrapper">
        {% csrf_token %}
        {{ field.errors }}
        {{ field.label_tag }} {{ field }} <br>
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %} <br>
<button type="submit" class="btn btn-danger">Update</button>
<a href="{% url 'todo' %}" class="btn btn-warning">Back</a>
</form>





{% endblock content %}