{% extends 'core/core.html' %}
{% load static %}

{% block top %}<h2 class="text-center alert alert-danger">Todo app Vue-js</h2>{% endblock top %}

{% block style %}<link rel="stylesheet" href="{% static 'todo/css/todo.css' %}">{% endblock style %}

{% block content %}
  <div class="todo-app">
    <div class="row">
        <div class="col-sm-3"> <br>
            <h4 class="text-center alert alert-info">Add Task</h4>
            <form method="post" ref="todoform">
              <label for="title">Title</label>
              <input v-model="form.title" type="text" class="form-control" id="title">
              <!--  -->
              <label for="discreption">Discreption</label>
              <textarea v-model="form.discreption" class="form-control" id="discreption" rows="5"></textarea>
              <!--  -->
              <input type="checkbox" name="checkbox" id="checkbox" v-model="form.important"><label for="checkbox"> Important </label>
              <br><br>
              <!--  -->
              <input type="hidden" value="{{request.user.id}}" type="text" ref="userid">
                <button @click.prevent="submitForm()" class="btn btn-success">Add</button>
                <a href="/" class="btn btn-warning m-2">Home</a>
            </form>
            
        </div>
        <div class="col-sm-9"> <br>
            <h4 class="text-center alert alert-info">{{user}}</h4>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task</th>
                    <th scope="col">Created</th>
                    <th scope="col">Action</th>

                  </tr>
                </thead>
                </b>
                
                <tbody v-for="(item, index) in tasks" :key="item.id"> 
                  <picker :details="details" :close="closedetails" :update="updatedetails"/>
                    <tr>
                      <td scope="row">[[index+1]]</td>
                      <td  @click="showdetails(item.id)">
                        <a :class="{important:item.important}">[[item.title]]</a>
                      </td>
                      <td>[[item.created]]</td>
                      <td><a @click="dltbtn(item.id)" class="btn btn-danger">Delete</a></td>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
<script src="{% static 'todo/js/todo.js' %}"></script>
<script src="{% static 'todo/js/details.js' %}"></script>
<script>todoapp.mount('.todo-app')</script>
{% endblock script %}
